<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text utis</title>
</head>
<body>
<h1> Wlecome to the  text analyzer.Please enter your text</h1>
<form action='analyze' method='get'>
    <textarea name='Text' style="user-select: auto; width: 1327px; height: 231px;"> </textarea>
    <button type='submit'> Analyze Text</button>
    <input type="checkbox" name='removepunc'> Remove Punctuation
    <input type="checkbox" name='fullcaps'> full capital
    <input type="checkbox" name='newlineremove'> Remove new line
    <input type="checkbox" name='extraspaceremove'> Remove extra space
    <input type="checkbox" name='charactercounter'> Total words

</form>
</body>
</html>